transformers==4.38.2
infinity-emb[torch]==0.0.17
vllm>=0.3.3
openai
ipython
sentencepiece
sentence_transformers
pyecharts
fastapi==0.110.0
tiktoken
einops
transformers_stream_generator
accelerate
langchain
sse-starlette
langchain-openai
