{% for message in messages %}
    {% if loop.first %}
        [gMASK]sop<|{{ message['role'] }}|>\n
        {{ message['content'] }}
    {% else %}<|{{ message['role'] }}|>\n
        {{ message['content'] }}
    {% endif %}
{% endfor %}
{% if add_generation_prompt %}
    <|assistant|>
{% endif %}